doctype html
html
  head
    title Demo Blog
    link(rel="stylesheet" href="public/style.css")
  body
    h1 Blog Posts
    ul
      each post in blogPosts
        li 
          a(href= '/blogentry/' + post.id) #{post.title}