doctype html
html
  head
    title Demo Store
    link(type="text/css" rel="stylesheet" href="public/style.css")
    script(type="text/javascript" src="public/storeApp.js")
  body
    h1 Catalog
    ul
      each item in catalog
        li 
          button(onclick="addItemToCart(" + item.sku + ")") #{item.description}
    p
      a(href="/checkout") Checkout